<p>Oba estou logado!!!</p>
<div class="row">
    <div class="col-12">
        <table id="tabela" class="table table-striped table-hover display" width="100%">
            <thead>
            <tr>
                <th  class="all" width="40%">Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Tipo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of imoveis">
                <td>{{item.nome}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.categoria}}</td>
                <td>{{item.tipoImovel}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
